#conteudo {
	background: #dcdcdc;
	height: 400px;
	display: flex;
}
.item {
	background: white;
	border: 1px solid gray;
	margin: 10px;
}

#conteudo2 {
	margin-top: 30px;
	background: #dcd123;
	height: 400px;
	display: flex;
	flex-direction: row;
}
.item2 {
	background: white;
	border: 1px solid green;
	margin: 10px;
}

#conteudo3 {
	margin-top: 30px;
	background: #dcd987;
	height: 400px;
	display: flex;
	flex-direction: row-reverse;
}
.item3 {
	background: white;
	border: 1px solid blue;
	margin: 10px;
}

#conteudo4 {
	margin-top: 30px;
	background: #dcd000;
	height: 400px;
	display: flex;
	flex-direction: row-reverse;
}
.item4 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid red;
}

#conteudo5 {
	margin-top: 30px;
	background: #dca534;
	height: 400px;
	display: flex;
	flex-direction: row-reverse;
}
.item5 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid red;
	margin: 10px;
}

#conteudo6 {
	margin-top: 30px;
	background: #dca222;
	height: 400px;
	display: flex;
	flex-direction: column;
}
.item6 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid red;
	margin: 10px;
}

#conteudo7 {
	margin-top: 30px;
	background: #daa291;
	height: 400px;
	display: flex;
	flex-direction: column-reverse;
}
.item7 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo8 {
	margin-top: 30px;
	background: #aaa291;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.item8 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo9 {
	margin-top: 30px;
	background: #bbb;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.item9 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo10 {
	margin-top: 30px;
	background: #aaa291;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item10 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo11 {
	margin-top: 30px;
	background: #a9a2d1;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}
.item11 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo12 {
	margin-top: 30px;
	background: #a9a2d1;
	height: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.item12 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo13 {
	margin-top: 30px;
	background: #a9a878;
	height: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.item13 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo14 {
	margin-top: 30px;
	background: #b9b8dd;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.item14 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo15 {
	margin-top: 30px;
	background: #b9bccd;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.item15 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid yellow;
	margin: 10px;
}

#conteudo16 {
	margin-top: 30px;
	background: #7a9b8d;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.item16 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid #56aabc;
	margin: 10px;
}

#conteudo17, #conteudo18 {
	margin-top: 30px;
	background: #7a9b8d;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.item17, .item18 {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid #56aabc;
	margin: 10px;
}

#conteudo19 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
}
.item19 {
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}

#conteudo20 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.item20 {
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}

#conteudo21 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.item21 {
	width: 100px;
	height: 100px;
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}

#conteudo22 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}
.item22 {
	width: 100px;
	height: 100px;
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}

#conteudo23 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
}
.item23 {
	width: 100px;
	height: 100px;
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}

#conteudo24 {
	margin-top: 30px;
	background: #8d9b7a;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
}
.item24 {
	margin: 10px;
	background: white;
	border: 1px solid #56aabc;
}