/*Aminações*/
@keyframes animacao-caixa {
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: yellow;
		border-radius: 200px;
		top: 200px;
		left: 200px;
	}
}
#caixa {
	width: 400px;
	height: 400px;
	background: red;
	position: relative;
	-webkit-animation: animacao-caixa 5s 3s 3 alternate;
	-moz-animation: animacao-caixa 5s 3s 3 alternate; 
	-o-animation: animacao-caixa 5s 3s 3 alternate; 
	animation: animacao-caixa 5s 3s 3 alternate;  
}
